* { 
	box-sizing: border-box;
    	margin: 0;
}
body {
	font-family: Verdana, Arial, sans-serif;
	background-color: #F8F9F9;	
		
}
#wrapper {
	background-color: #F5F5DC;
	
}
header {
	color: black;
	background-color: #EEDC82;
	background-image: url(images/RoyalLePage.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: .5em 0 .5em 5.5em;
	border-width: 10px;
	border-color: #000000;
}
main {   
	background-color: #FFFFFF;
      color: #000000;
	padding: 1em; 
}
aside { 
	text-align: center; 
}
footer {
	background-color: #9c6600;
	font-size: 70%;
	text-align: center;
	padding: 0.5em 0;
	color: white;
}
img { 
	padding: 1em; 
}
h2 {
	color:#5C4033;
	background-color: #f3eaaf;
	border-color: #000000;
	padding: 10px 0px 10px 10px;
	box-shadow:3px 3px 3px 3px #dac17c;
}
.floatRight{
	float:right;
	margin-left:6px;
	
}
.oddRow{
	background-color:#f3eaaf;
	padding-left: 5px;

}
.evenRow{
	background-color:#EEDC82;
	padding-left: 10px;
}
.price{
	color:#9c6600
}

/* Styles to configure navigation links as horizontal areas */
nav ul { 
	list-style-type: none;
      padding-left: 0; 
	border-top: 1px solid #EEEEEE;
}
nav li { 
	border-bottom: 1px solid #EEEEEE;  
      text-align: center;
	padding-top: .5em;
	color:#5C4033;
	padding-bottom: .5em;
	background-color:#f3eaaf;
	border-style: solid;
	border-color: #fbe790;
}
nav a { 
	text-decoration: none;
		font-weight: bold;
}
nav a:link {
	color: #DC260C;
}
nav a:hover {
	text-decoration-line: overline; 
        background-color:olive;
}
nav a:visited {
	color:black;
}
/* make the current page's link look different */
nav .page { 
	font-weight: bold;
      color: black; 
}

/* Force older versions of Internet Explorer to display these HTML5 elements with block display. */
header, nav, main, footer, aside, figure { 
	display: block; 
}

/* Medium Display */
@media (min-width: 600px) {
#wrapper { 
 	display: grid; 
	grid-template-columns: 55% auto;
	grid-template-rows: auto auto auto auto;
	 }
header { 
	grid-row: 1 / 2; grid-column: 1 / 3; }
nav    { 
	grid-row: 2 / 3; grid-column: 1 / 3; }
main   { 
	grid-row: 3 / 4; grid-column: 1 / 2; }
aside  { 
	grid-row: 3 / 4; grid-column: 2 / 3; }
footer {
 	grid-row: 4 / 5; grid-column: 1 / 3; }
nav ul { 
	display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
	justify-content: space-around; }
nav ul li { 
	border-bottom: none; } 
 							 }
/* Large Display */
@media (min-width: 1024px) {
body     { 
	background-color: #F8F9F9; 
}
nav ul { 
	display: flex; 
	flex-direction: column; 
	flex-wrap: nowrap; 
}
#wrapper { 
	width: 90%; 
      margin: auto; 
      max-width: 1200px; 
      display: grid; 
	grid-template-columns: 150px auto auto;
	grid-template-rows: auto auto auto ; 
}
header { 
	grid-row: 1 / 2; 
	grid-column: 1 / 4; 
}
nav    { 
	grid-row: 2 / 3; 
	grid-column: 1 / 2; 
}
main   { 
	grid-row: 2 / 3; 
	grid-column: 2 / 3; 
}
aside  { 
grid-row: 2 / 3; 
grid-column: 3 / 4; 
}
footer { 
	grid-row: 3 / 4; 
	grid-column: 1 / 4; 
}
	 
.floatRight {
	float: right;
}
	 

.clearBoth {
	clear: both;
}
}